torch
git+https://github.com/nielsrogge/transformers.git@add_dpt_redesign#egg=transformers
numpy
Pillow
jinja2
open3d
nbconvert>=7.17.0 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability